body {
    text-align: center;
    background-color: pink;
}

p {
    font-size: 1.5em;
    font-family: cursive;
}

h1 {
    font-size: 3em;
    font-style: oblique;
    font-weight: bold;
    font-family: serif;
    text-decoration: underline;
    text-shadow: .1em .1em .1em grey;
}