body {
    background-color: #c92100;
}

.title {
    font-family: fantasy;
    font-size: 2.5rem;
    text-align: center;
    margin: .5rem;
}

nav {
    background-color: #390900;
    text-align: center;
}

a {
    color: rgb(0, 102, 204);
}

nav a {
    font-size: min(2rem, 5vw); /* zerdle.net, see sources */
    margin: 1rem;
}

.main_box {
    background-color: #390900;
    font-size: 1.2rem;
    color: darkgrey;
    padding-left: .2rem;
    padding-right: .2rem;
}

.footnote {
    vertical-align: super;
    font-size: 1.2rem;
}

h1 {
    clear: left;
}

.image_left {
    float: left;
    width: 15rem;
    margin-left: .3rem;
    margin-right: .5rem;
}

.image_right {
    float: right;
    width: 15rem;
    margin-right: .3rem;
    margin-left: .5rem;
}